<div class="container">
<div class="row">
	<div class="col-md-12" align="center">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" align="left">Conoce sobre nosotros</h3>
        </div>  
        <p align="justify">
            Servicio a domicilio de recolección, es una empresa integradora de servicios que benefician a la comunidad y procurando un medio ambiente más limpio.
        </p>
        <p align="justify">
		Contamos con las herramientas que le permiten actuar a favor del medio ambiente y contribuimos al bienestar económico de nuestros colaboradores al brindarles una forma de laborar.
        </p>
        <p align="justify">
		Misión
        </p>
		<p>
		SDR, es un servicio de integración que permite conectar al cliente con los proveedores, que le permitirán hacer la disposición final de los residuos que se generen en su domicilio o comercio y que por alguna razón, las empresas encargadas no le prestan el servicio, ajustándose a las necesidades de tiempo.
		</p>
    
        <p align="justify">
		Visión
        </p>
        <p align="justify">
		SDR, será para el 2020 la empresa líder en integración de servicios de recolección a domicilio y disposición final de desechos domiciliarios y comerciales orgánico  e inorgánico.
		</p> 
	</div>
    </div>
</div>
</div>