<div class="container">
<div class="row">
	<div class="col-md-12" align="center">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" align="left">Últimas noticias</h3>
          </div>  
          <div class="col-md-6">
            <h4>Cambios en esquemas de recoleccón</h4>
            <p align="justify">
              Desde el pasado lunes 12 de febrero Bogotá se dividió en 5 áreas de servicio exclusivo para adelantar las labores de recolección de residuos.
            </p>
            <p align="justify">
              Los nuevos cinco operadores a los que les fue adjudicada la licitación tienen a su cargo diferentes localidades para adelantar labores.
              <br />
              Área de servicio exclusivo 1: Fue adjudicada a Promoambiental. Tiene a su cargo las localidades de Usaquén, Chapinero, Santa Fe, San Cristóbal, Usme  y Sumapaz.
            </p>
            <p align="justify">
              El centro de atención al usuario de este operador se encuentra ubicado en la Transversal 4 N 51ª 25 y presta atención en un horario de 7 de la mañana a 5 de la tarde de lunes a viernes y los sábados de 9 de la mañana a 1 de la tarde. La línea de atención es 9261923
            </p>
            <p align="right">Leer completo</p>
          </div>
          <div class="col-md-6">
            <h4>Recomendaciones del mes</h4>
            <p align="justify">
              En la última década hemos visto un aumento en la conciencia social al respecto del medio ambiente. Organizaciones sin fines de lucro tienen más presencia en el mundo y cada vez existen más leyes que apoyan a mejorar la situación ambiental.
            </p>
            <p align="justify">
              También nosotros podemos apoyar aunque sea empezando por algo pequeño. A continuación una serie de consejos para cuidar y proteger el medio ambiente:
            </p>
            <p align="justify">
              <ul><li>Aprovechemos al máximo la luz, con los cambios de horario nos ayuda también a conservar más energía.</li></ul>
            </p>
            <p align="right">Leer completo</p>
          </div>
    </div>
	</div>
</div>
<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" align="left">Lecturas recomendadas</h3>
          </div>  

  </div>


</div>
