<div class="container">
<div class="row">
	<div class="col-md-12" align="center">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" align="left">Conoce sobre nosotros</h3>
        </div>  
        <p align="justify">
		<ul align="justify">
        	<li align="justify">
			<strong>Recolección a domicilio:</strong> permite que el usuario establezca la mejor opción de recolección de sus residuos orgánicos.
			</li>
			<li align="justify">
			<strong>Recolección a domicilio:</strong> permite que el usuario establezca la mejor opción de recolección de sus residuos inorgánicos, producto de construcción o actividades no industriales.
			</li>
			<li align="justify">
			<strong>Barrido de salones y espacios no públicos:</strong> limpieza detallada en general mediante la utilización de herramientas manuales. Adicionalmente, se realiza la eliminación de residuos sólidos acumulados.
			</li>
			<li align="justify">
			<strong>Transferencia:</strong> teniendo en cuenta que hoy en día algunos rellenos sanitarios se encuentran en lugares alejados de los centros urbanos, surge la necesidad de un punto de  almacenamiento temporal de los residuos, garantizando que no se genere contaminación
			</li>
			<li align="justify">
			<strong>Reciclaje:</strong> el aprovechamiento y valorización de los residuos es un compromiso de corresponsabilidad tanto de las autoridades ambientales, de los entes territoriales y de la comunidad. 
			</li>
		</ul>
        </p>
    </div>  
    
      
	</div>
</div>
</div>