<div class="container">
<div class="row">
	<div class="col-md-12" align="center">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" align="left">Conoce sobre nuestros valores</h3>
        </div>  
        <p align="justify">
		<ul align="justify">
        	<li align="justify">
			<strong>Compromiso con nuestros usuarios:</strong> orienta las actividades hacia todos los usuarios, satisfaciendo sus necesidades y expectativas, ofreciendo un servicio integral confiable.
			</li>
			<li align="justify">
			<strong>Respeto a la legalidad:</strong> todas las actividades y acciones desde la plataforma, se inspiran en el respeto a las personas, culturas, creencias y valores.
			</li>
			<li align="justify">
			<strong>Trabajo en equipo:</strong> todos los colaboradores trabajarán mediante un ambiente de integridad, colaboración y apoyo entre usuarios.
			</li>
			<li align="justify">
			<strong>Ética:</strong> esperamos y confiamos en el buen comportamiento y actuar de todos los usuarios.
			</li>
			<li align="justify">
			<strong>Beneficio:</strong> para asegurar un desarrollo sostenible, adecuado y permanente, la plataforma debe lograr un buen índice de rentabilidad que genere mayor confianza a nuestros socios, proveedores, colaboradores y al estado.
			</li>
			<li align="justify">
			<strong>Responsabilidad Social:</strong> la plataforma contribuirá en la medida de sus recursos en el desarrollo del sector y del medio ambiente.
			</li>
		</ul>
        </p>
    </div>  
    
      
	</div>
</div>
</div>